<section>
    <div class="container">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <div class="card-header">
                <h3>Playlist: {{playlistInfo.Name}}</h3>
            </div>
            {{#if playlistInfo.Media.length}}
            <ul class="list-group list-group-flush text-white bg-dark ">

                {{#each playlistInfo.Media}}
                <li class="list-group-item">
                    <p><span class="song-name"><a href={{this.previewUrl}} target="_blank">{{this.name}}</a></span> by
                        <span class="artist-name">{{this.artist}}</span></p>
                    <p>Preview it <a href={{this.previewUrl}} target="_blank">here</a> or search on Spotify</p>
                </li>
                {{/each}}


            </ul>
            {{else}}
            <p class="italics-text">This playlist is empty.</p>
            {{/if}}
        </div>

    </div>
</section>