<body>
    <main>
        <section>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/profile/my-profile">Home</a>
                <a class="navbar-brand" href="/search">Search</a>
                <a class="navbar-brand" href="/logout">Logout</a>
            </nav>

        </section>
        <section>
            <div class="container">
                <div class="playlists">
                    <article>
                        <h3 class="playlist-header">Playlist: {{playlistInfo.Name}}  <span class="playlist-status-{{playlistInfo.Status}}">({{playlistInfo.Status}})</span></h3>
                        {{#if hidePlaylist}}
                        {{else}}
                        {{#if isLoggedInUser}}
                        {{#if isPublic}}
                        <a href="/playlist/{{playlistInfo._id}}/private">Make playlist private.</a>
                        {{else}}
                        <a href="/playlist/{{playlistInfo._id}}/public">Make playlist public.</a>
                        {{/if}}
                        {{/if}}
                        {{#if playlistInfo.Media.length}}
                            {{#each playlistInfo.Media}}
                            {{#if this.name}}
                                <div class="playlist-tracks">
                                <p><span class="song-name"><a href={{this.previewUrl}} target="_blank">{{this.name}}</a></span> by <span class="artist-name">{{this.artist}}</span></p>
                                <p>Preview it <a href={{this.previewUrl}} target="_blank">here</a> or search on Spotify</p>
                                </div>
                            {{else}}
                            <div class="playlist-movies">
                                <img src={{this.poster}}>
                        <p><span class="song-name">{{this.title}}, {{this.year}}</span> by <span class="artist-name">{{this.director}}</span></p>
                        <p>Rating: {{this.imdbRating}}/5</p>
                        <p>Actors: {{this.actors}}</p>
                        </div>
                        
                            {{/if}}
                                {{/each}}
                        {{else}}
                            <p class="italics-text">This playlist is empty.</p>
                        {{/if}}
                        {{/if}}
                    </article>
                </div>
            </div>
        </section>
        <section>
            {{!-- <div class="container">
                <a class="logout-btn" href="/profile/my-profile">Back</a>
            </div> --}}
        </section>
    </main>
</body>