<div>
    <nav class="navbar nav-bar">
        <a class="navbar-brand" href="/profile/my-profile"><i class="fas fa-home"></i> Home</a>
        <a class="navbar-brand" href="/search"><i class="fas fa-search"></i> Search</a>
        <a class="navbar-brand" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </nav>
</div>
<br>
<section>
    <div class="container">

        <div class="row main-body">
            <div class="col-md-6">
                <div class="card text-white bg-dark margin">

                    <div class="card-header">
                        {{#if isLoggedInUserProfile}}
                        <h3>My Info</h3>
                        {{else}}
                        <h3>User Info</h3>
                        {{/if}}

                    </div>
                    <div class="card-body">
                        <p>First Name : {{userData.FirstName}}</p>
                        <p>Last Name : {{userData.LastName}}</p>
                        <p>Email : {{userData.Email}}</p>
                        <p>Gender : {{userData.Gender}}</p>
                        <p>Location : {{userData.Location}}</p>
                        <p>Age : {{userData.Age}}</p>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card text-white bg-dark margin">
                    <div class="card-header">
                        <h3>Playlists</h3>
                    </div>
                    <div class="card-body">
                        {{#each userPlaylists}}
                        <p id="{{@index}}userPlaylist">
                            <div class="playlist-button">
                                <a href="/playlist/{{this._id}}">{{this.Name}}</a>
                            </div>
                        </p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{#if isLoggedInUserProfile}}
        <div class="row main-body">
            <div class="col-md-6">
                <div class="card text-white bg-dark margin">
                    <div class="card-header">
                        <h3>Music Recommendation</h3>
                    </div>
                    <div class="card-body">
                        <p>Here is a track for you:</p>
                        <p><span class="song-name"><a href="{{recommendedSong.previewUrl}}" target="_blank">{{this.name}}{{recommendedSong.name}}</a></span>
                            &nbsp;-- by <span class="artist-name"><a href={{recommendedSong.artist.artistUrl}} target="_blank">{{recommendedSong.artist.name}}</a></span></p>
                        {{#if recommendedSong.previewUrl}}
                        <p>Preview it <a href="{{recommendedSong.previewUrl}}" target="_blank">here</a> or search on
                            Spotify</p>
                        {{else}}
                        <p class="italics-text">Preview not available.</p>
                        {{/if}}
                        <p>Click <a href="{{recommendedSong.artist.artistUrl}}" target="_blank">here</a> for more tracks
                            by <span class="artist-name">{{recommendedSong.artist.name}}</span></p>
                        <form id="add-music-form" method="post" action="/playlist/{{userData.Favorites}}">
                            <input type="hidden" name="name" value="{{recommendedSong.name}}" />
                            <input type="hidden" name="artistName" value="{{recommendedSong.artist.name}}" />
                            <input type="hidden" name="artistUrl" value="{{recommendedSong.artist.artistUrl}}" />
                            <input type="hidden" name="previewUrl" value="{{recommendedSong.previewUrl}}" />
                            <a onclick="document.getElementById('add-music-form').submit();">Add to Favorites</a>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-6">
                <div class="card text-white bg-dark margin">
                    <div class="card-header">
                        <h3>Movie of the day</h3>
                    </div>
                    <div class="card-body">
                        <img src="{{recommendedMovie.Poster}}" alt="Poster">
                        <p><span class="song-name">{{recommendedMovie.Title}}, {{recommendedMovie.Year}}</span> by
                            <span class="artist-name">{{recommendedMovie.Director}}</span></p>
                        <p>Rating: {{recommendedMovie.imdbRating}}/10</p>
                        <p>Actors: {{recommendedMovie.Actors}}</p>

                        <form id="add-movie-form" method="post" action="/playlist/{{userData.WatchLater}}">
                            <input type="hidden" name="poster" value="{{recommendedMovie.Poster}}" />
                            <input type="hidden" name="title" value="{{recommendedMovie.Title}}" />
                            <input type="hidden" name="year" value="{{recommendedMovie.Year}}" />
                            <input type="hidden" name="director" value="{{recommendedMovie.Director}}" />
                            <input type="hidden" name="imdbRating" value="{{recommendedMovie.imdbRating}}" />
                            <input type="hidden" name="actors" value="{{recommendedMovie.Actors}}" />
                            <a onclick="document.getElementById('add-movie-form').submit();">Add to Watch Later</a>
                        </form>
                        
                    </article>

                </div>
            </div>
        </div>
        {{/if}}
    </div>
</section>