<body>
    <main>
        <section class="container">
            <h1>Search - Media Recommender</h1>
            <div class="search-category">
                <span><a href="/search/user">User</a></span> |
                <span><a href="/search/music">Music</a></span> |
                <span><a href="/search/movies">Movies</a></span>
            </div>


        {{#if searchType}}
            <form action="/search/" method="POST" id="search-form">
                <div class="form-group">
                    <label for="keyword">Enter {{searchType}} Name:
                        <input type="text" name="keyword" class="form-control" id="keyword" />
                        <input type="hidden" name="searchType" value="{{searchType}}" class="form-control" id="searchType" />
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {{/if}}

            {{#if hasResults}}
            <div class="search-results">
                {{#if this.music}}
                    {{#each resultList}}
                        <p id={{@index}}>Song: <a href={{this.Link}}>{{this.Name}}</a></p>
                        <p id={{@index}}>Artist: <a href={{this.ArtistLink}}>{{this.Artist}}</a></p>
                    {{/each}}
                {{/if}}

                {{#if this.movie}}
                    {{#each resultList}}
                        <p id={{@index}}>MovieId: {{this.MovieId}}</p>
                        <p id={{@index}}>Title: {{this.Name}}</p>
                        <p id={{@index}}>Actor: {{this.Artist}}</p>
                        <p id={{@index}}>Genere: {{this.Genre}}</p>
                    {{/each}}
                {{/if}}
            </div>
            {{/if}}

            <div class="users-list">
                {{#each userList}}
                    <p id={{@index}}+"userlist"><a href="/profile/{{this._id}}">{{this.FirstName}} {{this.LastName}}</a></p>
                {{/each}}
            </div>
        </section>
    </main>
</body>