<main>
    <section class="container">
        <h1>Search</h1>
        <div class="search-category">
            <span><a href="/search/user">User</a></span> |
            <span><a href="/search/music">Music</a></span> |
            <span><a href="/search/movies">Movies</a></span>
        </div>


        {{#if isUser}}
            <form action="/search/user" method="POST" id="user-search-form">
                <div class="form-group">
                    <label for="keyword">Enter User Name:
                        <input type="text" name="keyword" class="form-control" id="keyword" />
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
                        
            {{/if}}

            {{#if isMusic}}
            <form action="/search/music" method="POST" id="music-search-form">
                <div class="form-group">
                    <label for="keyword">Enter Song Name:
                        <input type="text" name="keyword" class="form-control" id="keyword" />
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {{/if}}

            {{#if hasResults}}
            <div class="search-results">
                {{#each resultList}}
                    <p id={{@index}}><a href="/profile/{{this._id}}">{{this.FirstName}} {{this.LastName}}</a></p>
                {{/each}}
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        {{/if}}

            <div class="users-list">
                {{#each userList}}
                
                    <p id={{@index}}+"userlist"><a href="/profile/{{this._id}}">{{this.FirstName}} {{this.LastName}}</a></p>
                {{/each}}
            </div>
        </section>
    </main>
</body>
