<body>
    <main>
        <section class="container">
            <h1>Search - Media Recommender</h1>
            <div class="search-category">
                <span><a href="/">User</a></span> |
                <span><a href="/">Music</a></span> |
                <span><a href="/">Movies</a></span>
            </div>


        {{#if searchType}}
            <form action="/search" method="POST" id="search-form">
                <div class="form-group">
                    <label for="keyword">Enter {{searchType}}:
                        <input type="text" name="keyword" class="form-control" id="keyword" />
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {{/if}}

            {{#if hasResults}}
            <div class="search-results">
                {{#each resultList}}
                    <p id={{@index}}><a href="/profile/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></p>
                {{/each}}
            </div>
            {{/if}}
        </section>
    </main>
</body>